body {
  margin: 0;
}
 

#carousal{
  max-height: 350px;
}
#card-img-z{
  max-height: 190px;
  border-radius: 5px;
  /* height: 100px; */

}
#card-main{
  height: 450px;
  /* padding: 34px; */
  /* width: 220vh; */
  /* margin: 23px !important; */
  /* padding: 12px !important; */
}

.moneyLoundringP{
  /* margin: 33px !important; */
}

#cont-card{
  /* padding: 23px !important; */
  /* margin: 23px !important; */
}